<div>
  <p>
    A skeleton application has been generated for you.
  </p>
  <ol>
    <li><a href='{{ skeleton_url }}'>Download the skeleton.</a></li>
    <li><a href='{{ client_secrets_url }}'>Download the client secrets file.</a></li>
  </ol>
  <p>
    You will need to install the client library for this skeleton to run. You
    can do this by running:
  </p>
  <pre><code>easy_install --upgrade google-api-python-client</code></pre>

  <p>
    You might need to add a sudo to the beginning of that command depending on your
    platform. If you don't have easy_install you can get it by installing the
    <a href="http://pypi.python.org/pypi/setuptools#downloads">setuptools</a> package.
  </p>

  <p>
  After you download and expand the skeleton application you need to run the
  following command to add the client library source to the skeleton:
  </p>

  <pre><code>enable-app-engine-project {directory of the skeleton}</code></pre>

</div>
